@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .animate-fade {
    animation: fading-out 6000ms linear infinite;
  }
  @keyframes fading-out {
    0% {
      opacity: 50%;
    } 20% {
      opacity: 100%;
    } 80% {
      opacity: 100%;
    } 100% {
      opacity: 50%;
    }
  }
}
